PORT=5001
MONGO_URI=
REDIS_URL=
CLIENT_URL=http://localhost:3000

OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.5-flash

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
